.input{
    padding: 0.75rem 0.5rem !important; 
    border: 1px solid black;
    border-radius: 0.25rem;
    margin: 0.75rem 0rem;
  }
  .inputContainer{
    margin: 1rem 0.5rem;
    padding: 1rem 2rem ;
    /* border: 1px solid #7C7C7C; */
    /* border-style: dashed; */
  }
  .main_content{
    margin: 4rem 6%;
  }
  .formContainer{
    margin: 0rem 10rem;
    /* width: 400px; */
    background-color: #FAFAFA;
    padding: 1.5rem 3rem   
  }     
  .formInputContainer{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
  }
  .formOptions{
    padding: 1rem 0.25rem;
  }
  .footerBtns {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }

  .btnGroup {
    display: flex;
    gap: 20px;
  }

  .header {
    padding-top: 10px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
  }

  .header > p {
    
  }

  .content {
    display: flex;
    flex-direction: row;
  }

  .submitButton{ 
    margin: 0 20px;
    display: flex;
    justify-content: center;
  }

  .closeIcon{
    /*   style={{ position: "absolute", top: "5px", right: "5px" }}*/
    position: absolute;
    top:  1px;
    right: 5px;
  }

  .closeIcon >button {
    background: none;
    border: none;
  }

  /* ///////////// */
  /* *,
  *:before,
  *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: none;
  } */
  /* body {
    background-color: #fab142;
  } */

  .container {
    position: relative;
    /* height: 320px;
    width: 320px; */
    height: 30px;
    width: 70px;
    background-color: #ffffff;
    border-radius: 10px;
 
  }

  .container>input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-left: 20px;
    top: 50%;
    left: 20%;
    height: 20px;
    width: 40px;
    background-color: #e3b1b1;
    /* background-color: #f2f2f2 */
    /* border: 1px solid red; */
    border-radius: 100px;
    cursor: pointer;
    transition: 0.5s;
  }
  .container>label[for="cup"] {
    position: absolute;
    background-color: #cccccc;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 14px;
    height: 15px;
    width: 15px;
    border: 3px solid #e7e7e7;
    border-radius: 50%;
    box-shadow: inset -6px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
  }
  .container>label[for="cup"]:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 5px;
    background-image: linear-gradient(to left, #bebebe 30%, #cccccc 30%);
    margin: auto;
    top: 0;
    bottom: 0;
    left: -5px;
  }
  .container>input[type="checkbox"]:checked {
    background-color: #fab142;
  }
  .container>input[type="checkbox"]:checked + label[for="cup"] {
    transform: translateX(25px) rotate(180deg);
    background-color: #6e4c42;
    box-shadow: inset 6px -6px rgba(0, 0, 0, 0.2);
  }
  .fab {
    color: #ff0000;
  }
  
  .togglecontaiiner >p {
    margin-bottom: 0;
    font-size: 14px;
  }

  .togglecontaiiner >div>p {
    margin-bottom: 0;
    font-size: 14px;
  }

  .horizontalAllignmentContainer {
    display: flex;
    flex-direction: row;
  }

  .verticalAllignmentContainer {
    display: flex;
    flex-direction: column;
  }

  .multioptionsitem {
    display: flex;
    
  }

  .multioptionsitem >label {
    padding: 2px 5px;
  }