.saveBtn {
    background-color: rgba(20, 177, 193, 1);
    color: white;
}

.saveBtn:hover {
    background-color: rgba(16, 128, 139, 1);
    color: white;
}

.inputLabel {
    margin: 0;
    padding: 5px 10px;
    width: 40%;
}